streamlit==1.28.0
streamlit-option-menu==0.3.6
pandas==2.0.3
numpy==1.24.3
plotly==5.17.0
google-cloud-bigquery==3.14.1
google-auth==2.23.0
google-cloud-core==2.3.3
db-dtypes==1.1.1
pyarrow==14.0.1
sqlalchemy==2.0.23
python-dateutil==2.8.2
protobuf==4.25.1